# Node modules
node_modules/

# Build
.next/
dist/
out/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor configs
.vscode/
.idea/

# Tailwind CSS JIT cache
.tailwind/
